apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-email
  namespace: monitoring
type: Opaque
stringData:
  smtp_username: [your-email@gmail.com](mailto:your-email@gmail.com)
  smtp_password: your-gmail-app-password
  smtp_from: [your-email@gmail.com](mailto:your-email@gmail.com)